
<div class="container well text-center">

<p id="notice"><%= notice %></p>

<h1><%= "#{@user.first_name} #{@user.last_name}'s profile"%></h1>

<%if @user.profile_picture_url %>
  <img src="<%=@user.profile_picture_url %>" alt="Profile picture" class="post-image img-responsive img-rounded">
<%else%>
  <img src="https://pbs.twimg.com/profile_images/1564039292/squirrel.jpg" alt="Profile picture" class="post-image img-responsive img-rounded">
<%end%>


<p class = "post-field">
  <i class="fa fa-envelope-o" aria-hidden="true"></i>
  <%= @user.email %>
</p>

<p class = "post-field">
  <% if current_user.id == @user.id %>
  <span class="label label-success"><%= link_to 'Edit Profile', edit_user_registration_path(@user) %></span>
  <%end%>
</p>


</div>
<% if @user.articles.length > 0 %>
<div class=" field-margin-lg"></div>
<div class="container text-center">
<h1 class="text-center field-margin-md"><%= "#{@user.first_name} #{@user.last_name}'s posts"%></h1>
<%= render 'common/list_user_posts', articles: @user.articles %>
</div>
<%end%>
